<div class="ui labeled button" tabindex="0">
    <div class="ui basic button">
        <i class="heart icon"></i>
        Like
    </div>
    <a class="ui basic label">
        {{ blog.likes }}
    </a>
</div>
<div class="ui labeled button" tabindex="0">
    <div class="ui basic button">
        <i class="thumbs outline up icon"></i>
        点赞
    </div>
    <a class="ui basic label">
        {{ blog.praises }}
    </a>
</div>
<div class="ui labeled button" tabindex="0">
    <div class="ui basic button">
        <i class="unhide icon"></i>
        查看
    </div>
    <a class="ui basic label">
        {{ blog.views }}
    </a>
</div>