{% extends 'blog/base.html' %}
{% block title %}
    {{ blog.title }}
{% endblock %}
{% block content %}
    {% load custom_markdown %}
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'blog/css/detail.css' %}"/>
    <script type="text/javascript" src="{% static 'blog/js/detail.js' %}"></script>
    <div id="top" class="ui text container">
        <h2  class="ui header">
            {{ blog.title }}
        </h2>
        <div class="extra">
            {% include 'blog/util/tab.html' %}
        </div>
        <p class="ui content">{{ blog.body |custom_markdown }}</p>
        {% include 'blog/util/comments.html' %}
    </div>
    {% include 'blog/util/float.html' %}

{% endblock %}
