{% extends 'blog/base.html' %}
{% block title %}
    {{ blog.title }}
{% endblock %}
{% block content %}
    {% load custom_markdown %}
    {% load static %}
    <div id="top" class="ui main text container">
        <h2  class="ui header">
            {{ blog.title }}
        </h2>
        <div class="extra">
            {% include 'blog/util/tab.html' %}
        </div>
        <p class="ui content">{{ blog.body |custom_markdown }}</p>
        {% include 'blog/util/comments.html' %}
    </div>
    {% include 'blog/util/float.html' %}

{% endblock %}
