{% extends 'blog/base.html' %}
{% block title %}
    {{ post.title }}
{% endblock %}
{% block content %}
    {% load custom_markdown %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/detail.css' %}"/>
    <div class="ui main text container">
        <h2 class="ui header">
            {{ post.title }}
        </h2>
        <div class="extra">
            <i class="empty heart icon"></i>
            {{ post.likes }}
            <i class="thumbs outline up icon"></i>
            {{ post.praises }}
            <i class="unhide icon"></i>
            {{ post.views }}
            <p class="ui content">{{ post.body |custom_markdown }}</p>
        </div>
    </div>
{% endblock %}
