{% extends 'blog/base.html' %}
{% block title %}
    文章编辑
{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'blog/css/edit.css' %}" type="text/css">
    <script type="text/javascript" src="{% static 'blog/js/edit.js' %}"></script>
    <i id="blog-id" data-index="{{ blog.pk }}" hidden></i>
    <div id="back-index">
        <a href="{% url 'blog:uindex' request.user.pk %} " class="ui primary button">返回主页</a>
    </div>

    {% include 'blog/util/bloglist.html' %}
    <div class="ui center aligned grid">
        <div class="column">
            <div class="ui menu">
                <a id="blog_list" class="item">文章列表</a>
{#                <a class="item">菜单</a>#}
{#                <a class="item">标签</a>#}
                <div class="right menu">
                    <a id="save_blog" class="ui item">保存</a>
                    <a id="pub_blog" class="ui item">发布</a>
                </div>
            </div>
            <form class="ui large form">
                <div class="ui stacked segment">

                    <div class="field">
                        <div class="ui input">
                            <input id="title" type="text" placeholder="标题" name="title" value="{{ blog.title }}">
                        </div>
                    </div>
                    <div class="field">

                    </div>
                    <div class="field">
                        <div class="ui input">
                            <textarea id="body" name="body" rows="15">{{ blog.body }}</textarea>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}