{% extends 'blog/base.html' %}
{% block title %}
    {{ request.user.username }}的主页
{% endblock %}
{% block content %}
    {% load custom_markdown %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'blog/css/uindex.css' %}" type="text/css">
    <div class="ui main text container fluid">
        <div class="ui items">
            {% for blog in blogs %}
                <div class="ui item">
                    <div class="content">
                        <div class="column">
                            <a class="ui header" href="{% url 'blog:detail' blog.pk %}">{{ blog.title }}</a>
                            <span>{{ blog.create_time | date:'m.d H:i' }}</span>
                            <div class="right floated">
                                <a href="{% url 'blog:edit' blog.pk %}"><i class="edit icon"></i></a>
                                <a href="{% url 'blog:delete' blog.pk %}"><i class="trash icon"></i></a>
                            </div>
                        </div>
                        <div class="description">
                            <p>{{ blog.body | custom_markdown | truncatechars_html:150 }}</p>
                        </div>
                        <div class="extra">
                            {% include 'blog/util/tab.html' %}
                        </div>
                        <div class="ui divider"></div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}