body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.banner {
    height: 45px;
    border-bottom: 1px solid #999;
}

.blog_name {
    font-size: 34px;
    float: left;
    padding: 8px 54px 5px 12px;
    color: #9C27B0;
}

.container {
    width: 60%;
    padding-left: 175px;
    padding-top: 7px;
}

.container a {
    font-size: 20px;
    margin-left: 10px;
    color: #BA68C8;
}

.edit_blog {
    font-size: 34px;
    color: #8E24AA;
    float: right;
    padding-right: 12px;
}

.search {
    height: 24px;
    margin-left: 20px;
    padding-left: 4px;
    padding-top: -2px;
    border-radius: 5px;
    outline: none;
    border:2px solid #BA68C8;
    color: #AA00FF;
}

input::-webkit-input-placeholder { /* WebKit browsers*/
    color: #CE93D8;
    font-size: 14px;
}

input:-moz-placeholder { /* Mozilla Firefox 4 to 18*/
    color: #CE93D8;
    font-size: 14px;
}

input::-moz-placeholder { /* Mozilla Firefox 19+*/
    color: #CE93D8;
    font-size: 14px;
}

input:-ms-input-placeholder { /* Internet Explorer 10+*/
    color: #CE93D8;
    font-size: 14px;
}