<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}{% endblock %}
    </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'blog/css/semantic.min.css' %}" type="text/css">
    <script type="text/javascript" src="{% static 'blog/js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'blog/js/semantic.min.js' %}"></script>
</head>
<body>
{% block header %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'blog/css/base/banner.css' %}" type="text/css">
    <div class="ui secondary fixed menu">
        <a class="ui header labeled item" href="{% url 'blog:index' %}">SkyNet</a>
        <div class="item">
            <div class="ui basic buttons">
                <button class="ui basic button">发现</button>
                <button class="ui basic button">关注</button>
                <button class="ui basic button">消息</button>
            </div>
        </div>
        <div class="item">
            <div class="ui icon input">
                <input type="text" placeholder="搜索...">
                <div class="ui blue submit button">搜索</div>
            </div>
        </div>
        <div class="right menu">
            <a class="item" href="{% url 'blog:edit' %}">写文章</a>
        </div>
    </div>
    <div></div>
{% endblock %}
{% block content %}
{% endblock %}
<footer>
    {% block footer %}
    {% endblock %}
</footer>

</body>
</html>