{% extends 'base.html' %}
{% block title %}
    文章目录
{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'blog/css/edit.css' %}" type="text/css">
    <script type="text/javascript" src="{% static 'blog/js/edit.js' %}"></script>
    <div class="ui center aligned grid">
        <div class="column">
            <div class="ui menu">
                <a class="item">标题</a>
                <a class="item">内容</a>
                <a class="item">工具</a>
                <a class="right item">发布</a>
            </div>
            <form class="ui large form">
                <div class="ui stacked segment">
                    <div class="field">
                        <div class="ui menu">
                            <div class="ui dropdown item">
                                你好
                                <i class="blod icon"></i>
                                <div class="menu">
                                    <div class="item">
                                        <i class="italic icon"></i>
                                    </div>
                                    <div class="item">
                                        <i class="strikethrough icon"></i>
                                    </div>
                                    <div class="item">
                                        <i class="quote left icon"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui input">
                            <input type="text" name="title">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui input">
                            <textarea name="body"></textarea>
                        </div>
                    </div>
                </div>
                <div class="ui error message"></div>
            </form>
        </div>
    </div>
{% endblock %}