{% extends 'base.html' %}
{% block title %}
    文章目录
{% endblock %}
{% block content %}
    {% load custom_markdown %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'blog/css/index.css' %}" type="text/css">

    <div class="ui main text container">
        <div class="ui items">
            {% for post in posts %}
                <div class="ui item">
                    <div class="content">
                        <div class="header">
                            {{ post.title }}
                        </div>
                        <div class="meta">
                            {{ post.create_time }}
                        </div>
                        <div class="description">
                            <p>{{ post.body | custom_markdown | truncatechars_html:150 }}</p>
                        </div>
                        <div class="extra">
                            <i class="empty heart icon"></i>
                            {{ post.likes }}
                            <i class="thumbs outline up icon"></i>
                            {{ post.praises }}
                            <i class="unhide icon"></i>
                            {{ post.views }}
                        </div>
                        <a href="{% url 'blog:detail' post.pk %}">阅读全文</a>
                        <a href="">编辑文章</a>
                        <div class="ui divider"></div>
                    </div>

                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}